{# {% extends 'base.html.twig' %} #}

{# {% block title %}  <h1>Créer un nouveau ticket</h1>{% endblock %}

{% block body %} #}
  <div class="container w-75 "> <div class="card m-3 shadow bg-light">
		<div class="card-header text-center bg-success-subtle bg-gradient">
			<h5>Ajouter un ticket</h5>
		</div>

		<div class="card-body">

    {{ include('ticket/_form.html.twig') }}
    	</div>
	</div>
</div>

    {# <a href="{{ path('app_ticket_index') }}">back to list</a> #}
{# {% endblock %} #}
