{% extends 'base.html.twig' %}

{% block title %}{% trans %}Modifier un Fabricant{% endtrans %}{% endblock %}

{% block body %}
    

    <div class="container w-75 ">
		<div class="card m-3 shadow bg-light">
			<div class="card-header text-center bg-success-subtle bg-gradient">
				<h1>{% trans %}Modifier un fabricant{% endtrans %}</h1>
			</div>
			<div class="card-body">

    {{ include('fabricant/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="d-flex justify-content-end">

    <a href="{{ path('app_fabricant_index') }}"><button class="btn btn-light">{% trans %}retour à la liste{% endtrans %}</button>
					</a>
				</div>
			</div>
		</div>
	</div>
    {# {{ include('fabricant/_delete_form.html.twig') }} #}
{% endblock %}
