{# {% extends 'base.html.twig' %} #}

{# {% block title %}<h2>Créer un nouveau Pays</h2>{% endblock %}

{% block body %} #}
    
<div class="container w-75 "> <div class="card m-3 shadow bg-light">
		<div class="card-header text-center bg-success-subtle bg-gradient">
			<h5>Ajouter un Pays</h5>
		</div>
        <div class="card-body">
    {{ include('pays/_form.html.twig') }}
    		</div>
	</div>
</div>

    {#Désactivation du lien pour le retour à la vue index car intégré dedans #}
    {# <a href="{{ path('app_pays_index') }}">back to list</a> #}
{# {% endblock %} #}
