{% extends 'base.html.twig' %}

{% block title %}{% trans %}Modifier un Pays{% endtrans %}{% endblock %}

{% block body %}
    
    <div class="container w-75 ">
		<div class="card m-3 shadow bg-light">
			<div class="card-header text-center bg-success-subtle bg-gradient">
				<h5>{% trans %}Modifier un pays{% endtrans %}</h5>
			</div>
			<div class="card-body">

    {{ include('pays/_form.html.twig', {'button_label': 'Modifier'|trans}) }}
    <div class="d-flex justify-content-end">

    <a href="{{ path('app_pays_index') }}"><button class="btn btn-warning sm">{% trans %}retour à la liste{% endtrans %}</button>
					</a>
				</div>
			</div>
		</div>
	</div>
    {# {{ include('pays/_delete_form.html.twig') }} #}
{% endblock %}
